<h2>Pomodoro</h2>

<p><i>Click your checkList</i></p>
<input #taskCreate (keyup.enter)="addTask(taskCreate.value); taskCreate.value=''">
<button class="btn btn-primary btn-sm" (click)="addTask(taskCreate.value); taskCreate.value=''">추가</button>
<p>{{values}}</p>

<md-input-container class="md-block" flex-gt-sm>
    <label>Title</label>
    <input md-input [(value)]="taskCreate.value">
</md-input-container>


<ul>
    <task-item *ngFor="#task of tasks" [task]="task"></task-item>
</ul>

<div layout="column" class="md-inline-form">
    <md-toolbar md-hero layout="row" layout-align="center center" layout-align-gt-md="end end">
        <i class="secret-project" md-icon>person</i>
    </md-toolbar>
    <md-content layout-padding>
        <div>
            <form name="userForm">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Title</label>
                        <input md-input [(value)]="taskCreate.value">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
</div>
